# Ignore tout dans les dossiers data
data/raw/*
data/cleaned/*
data/curated/*

# SAUF les fichiers .gitkeep (le "!" veut dire "ne pas ignorer")
!**/ .gitkeep

# Reste des fichiers à ignorer
.venv/
__pycache__/
*.zip
*.csv
*.Zone.Identifier